<ul class="admin-menu" data-role="listview" data-theme="b">
    <li <%= adminSelected %> data-icon="back" data-theme="a"><a  data-iconpos="left" href="#admin" >Organizations</a></li>
    <li <%= profileSelected %> ><a href="#profile?<%= orgId %>">User Profiles</a></li>
    <li <%= reportingSelected %>><a href="#reporting?<%= orgId %>">Reporting</a></li>
    <li <%= buildSelected %> ><a href="#build?<%= orgId %>">Survey Builder</a></li>
    <li <%= settingsSelected %> ><a href="#settings?<%= orgId %>">Settings</a></li>
</ul>
<br />