<div data-role="navbar" class="wsk-nav" style="max-width:650px">      
	<ul>
		<li><a href="#home" data-icon="home" data-theme="b" class="<%= homeSelected %>" ><br />Home<br /></a></li>
		<li><a href="#profile?<%= orgId %>" data-icon="user" data-theme="b" class="<%= profileSelected %>">Manage<br />Users</a></li>
		<li><a href="#reports" data-icon="table" data-theme="b" class="<%= reportsSelected %>" ><br />Reports<br /></a></li>
		<li><a href="#build?<%= orgId %>" data-icon="file" data-theme="b" class="<%= buildSelected %>" ><br />Survey Builder<br /></a></li>
		<li><a href="#settings" data-icon="wrench" data-theme="b" class="<%= settingsSelected %>"><br />Settings<br /></a></li>
	</ul>
</div>




