<h2>Editing - Open Ended Question</h2>

<ul data-role="listview" data-inset="true">
    <li>
        <div>
            
            <div data-role="controlgroup" data-type="horizontal">
                <a id="qOpenEndedQuestionSave" data-role="button" data-inline="true" data-theme="g">Save</a>
                <a href="#file?<%= fileId %>" data-role="button" data-inline="true">Cancel</a>
                <a id="qOpenEndedQuestionDelete" data-role="button">Delete</a>
                <select name="qOpenEndedQuestionOrder" id="qOpenEndedQuestionOrder">
                </select>
            </div>  
            

            <b>Question:</b>
            <textarea id="qOpenEndedQuestionInput" cols="40" rows="8"><%= question %></textarea>
            
        </div>
    </li>
</ul>





