<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://crossfrontd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-ch1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>crossfrontd</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$crossfrontd</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDatabase" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bxjw95ldxd.database.windows.net,1433;Initial Catalog=database;User ID=wskadmin@bxjw95ldxd;Password=ON0f_K9@{Xy8Zaup7h_x" Name="Data Source=tcp:bxjw95ldxd.database.windows.net,1433;Initial Catalog=database;User Id=wskadmin@bxjw95ldxd;Password=ON0f_K9@{Xy8Zaup7h_x" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="crossfront.Models.MyDatabase, crossfront" MigrationConfiguration="crossfront.Migrations.Configuration, crossfront" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bxjw95ldxd.database.windows.net,1433;Initial Catalog=database;User Id=wskadmin@bxjw95ldxd;Password=ON0f_K9@{Xy8Zaup7h_x</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>