<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Home</h1>
                <h2>Test</h2>
            </hgroup>
            <p>
               @ViewBag.a
            </p>           
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
       
    </section>
</div>
